{% macro date(label, date) %}
  <p>
    <span>{{ label }}</span>
    <time datetime='{{ date | isoToISODate }}' class='capitalize'>{{ date | isoToFullDate }}</time>
  </p>
{% endmacro %}

{% macro mediumDate(label, date) %}
  <p>
    <span>{{ label }}</span>
    <time datetime='{{ date | apiToISO }}' class='capitalize'>{{ date | apiToFullDate }}</time>
  </p>
{% endmacro %}
