{% macro experience(title, lead, list) %}
  <h2 class='font-size-2'>{{ title }}</h2>
  <p>{{ lead }}</p>
  <ul class='list-extra-spaced'>
    {% for i in range(0, list | length) | reverse %}
    <li>
      {{ list[i].name }}
      <div class="meta-information">
        <p>
          <span class='visually-hidden'>Based in</span>
          <span class='capitalize'>{{ list[i].location }}</span>
        </p>
        <p>
          <span class='visually-hidden'>From</span>
          <time datetime='{{ list[i].start }}' class='capitalize'>{{ list[i].start | date }}</time>
          <span class='visually-hidden'>to</span>
          {% if list[i].end %}
            <time datetime='{{ list[i].end }}' class='dash capitalize'>{{ list[i].end | date }}</time>
          {% else %}
            <span class='dash capitalize'>present</span>
          {% endif %}
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
{%- endmacro %}
