{% macro linkList(sectionTitle, intro, items) %}

<section>
  <h2 class="font-size-2">{{ sectionTitle }}</h2>
  <p class="list-lead-in">{{ intro | safe }}</p>
  <ul>
    {% for item in items %}
      <li>
        <a href='{{ item.url }}'>{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>

{% endmacro %}
