{% extends 'layouts/base.njk' %}

{% block content %}
  <h1 class='font-size-3 title-spacing grid-container'>{{ title }}</h1>
  
  <section class="now">
    <div class="details">
      {{ content | safe }}
    </div>
  </section>

  {% endblock %}
