{% from 'macros/linkList.njk' import linkList %}

{% extends 'layouts/base.njk' %}
{% block content %}

  {% include 'partials/about.njk' %}
  {{ linkList(caseStudiesSectionTitle, collections.caseStudies, "list-extra-space") }}
  {{ linkList(contactSectionTitle, contacts) }}
  {{ linkList(supplementaryMaterialsSectionTitle, supplementaryMaterials) }}

{% endblock %}
