{% from 'macros/displayDate.html' import date %}

{% extends 'layouts/base.html' %}
{% block content %}
  
  <h1 class='headline-l title-spacing-small'>{{ title }}</h1>
  <p class='lead-paragraph'>{{ intro }}</p>

  {% if latest.headline %}
    <section class='latest'>
      <h2 class='headline-m'>Latest</h2>
      <h3 class='headline-sm'>{{ latest.headline }}</h3>
      {{ content | safe }}
      <div class="meta-information">
        {{ date('Updated in', latest.date) }}
      </div>
    </section>
  {% endif %}

  <section>
    <h2 class='headline-m'>Case studies</h2>
    {% include 'partials/medium-posts.html' %}
  </section>

{% endblock %}
