{% from 'macros/tags.html' import tags %}
{% from 'macros/displayDate.html' import date %}

{% extends 'layouts/base.html' %}

{% block content %}
  <article>
    <span class='headline-caption'>Case study</span>
    <h1 class='font-size-3'>{{ title }}</h1>
    <div class="medium-post">
      {{ post['content:encoded'] | updateTags | safe }}
    </div>
    <div class='meta-information'>
      <span class='visually-hidden'>Article information</span>
      {{ date("Published in", isoDate) }}
      {{ tags(categories) }}
    </div>
  </article>

  <section>
    <h2 class='font-size-2'>Case studies</h2>
    {% include 'partials/pagination.html' %}
  </section>
{% endblock %}
