{% from 'macros/tags.html' import tags %}
{% from 'macros/displayDate.html' import mediumDate %}

{% extends 'layouts/base.html' %}

{% block content %}
  <article>
    <h1>
      <span class='headline-caption'>Case study:</span>
      <span class='article-title font-size-3'>{{ title }}</span>
    </h1>
    <div class="medium-post">
      {{ post['content'] | updateTags | safe }}
    </div>
    <div class='meta-information'>
      <span class='visually-hidden'>Article information</span>
      {{ mediumDate("Published:", pubDate) }}
      {{ tags(categories) }}
    </div>
  </article>

  <section>
    <h2 class='font-size-2'>More case studies</h2>
    {% include 'partials/pagination.html' %}
  </section>
{% endblock %}
