{% extends 'layouts/base.njk' %}
{% block content %}
  
  <ul class="flex-container--wrap patches-gallery">
    {% for sticker in stickers %}
      <li>
        <figure>
          <img src="{{ sticker.src }}" alt="{{ sticker.alt }}">
          <figcaption>{{ sticker.caption }}</figcaption>
        </figure>
      </li>
    {% endfor %}
  </ul>

{% endblock %}