---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "description": "A collection of design centric blog posts and case studies."
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ site.language or page.lang }}">
  <title>{{ site.fullName }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ permalink | htmlBaseUrl(site.url) }}" rel="self" />
  <link href="{{ site.url | addPathPrefixToFullUrl }}" />
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url | addPathPrefixToFullUrl }}</id>
  <author>
    <name>{{ site.fullName }}</name>
  </author>
  {%- for post in collections.posts | reverse %}
  {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(site.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ post.data.xmlPubDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html"><![CDATA[{{ post.data.blogPostContent | renderTransforms(post.data.page, site.url) | sanitizeHTML | safe }}]]></content>
  </entry>
  {%- endfor %}
</feed>