// Dark mode
@mixin dark-mode {
  --color-background: var(--color-black);
  --color-primary-text: var(--color-white);
  --color-secondary-text: var( --color-grey);
  --color-link: var(--color-pink);
  --color-hover: var(--color-dark-pink);
  --color-active: var(--color-white);
  --color-focus: var(--color-yellow);
  --color-focus-text: var(--color-black);
  --color-focus-border: var(--color-black);
  --color-border: var(--color-white);
  --color-button: var(--color-link);
  --color-button-hover: var(--color-hover);
  --color-button-text: var(--color-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }
  :root:not([data-user-color-scheme]) {
    @include dark-mode;
  }
}
[data-user-color-scheme='dark'] {
  @include dark-mode;
}
