.nav-list {
  @extend .list-horizontal;
  gap: 0 var(--spacing-7);
  font-weight: $nikin-font-weight-bold;
  a:not(:hover) {
    text-decoration: none;
  }
  a:hover {
    text-underline-offset: 0.5rem;
  }
}
