@use "borders-mixins";
@use "spacing-mixins";

header {
  @include borders-mixins.thick-divider(bottom);
  @include spacing-mixins.top-6(padding);
  @include spacing-mixins.bottom-4(padding);
}

footer {
  @include borders-mixins.thick-divider(top);
  @include spacing-mixins.top-6(padding);
  @include spacing-mixins.bottom-6(padding);
}

main {
  @include spacing-mixins.top-9(padding);
  @include spacing-mixins.bottom-9(padding);
}

.wrapper {
  width: 90%;
  max-width: var(--wrapper-width);
  margin: 0 auto;
  &:focus {
    outline: none;
  }
}

.flex-container {
  display: flex;
  gap: var(--spacing-4) var(--spacing-6);
  flex-wrap: wrap;
  justify-content: space-between;
}

.vertical-align-bottom {
  align-items: flex-end;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(auto, calc(var(--wrapper-width)*3/4));
}

.site-head-brand {
  min-height: 4.59rem;
}

section {
  @include spacing-mixins.top-9(margin);
  @include spacing-mixins.bottom-9(margin);
}
