header {
  @include thick-divider(bottom);
  @include top-6(padding);
  @include bottom-4(padding);
}

footer {
  @include thick-divider(top);
  @include top-6(padding);
  @include bottom-9(padding);
}

main {
  @include top-9(padding);
  @include bottom-9(padding);
}

.wrapper {
  width: 90%;
  max-width: var(--wrapper-width);
  margin: 0 auto;
  &:focus {
    outline-width: 0px;
  }
}

section {
  @include top-9(margin);
  @include bottom-9(margin);
}
