@use "borders-mixins";
@use "spacing-mixins";

body {
  background: var(--color-background);
}

.page-header {
  @include spacing-mixins.spacing(bottom, 10, margin);
}

.header-nav {
  align-items: flex-end;
  @include borders-mixins.thick-divider(bottom);
  @include spacing-mixins.spacing(top, 6, padding);
  @include spacing-mixins.spacing(bottom, 4, padding);
}

footer {
  @include borders-mixins.thick-divider(top);
  @include spacing-mixins.spacing(top, 6, padding);
  @include spacing-mixins.spacing(bottom, 6, padding);
}

main {
  @include spacing-mixins.spacing(top, 9, padding);
  @include spacing-mixins.spacing(bottom, 9, padding);
}

.wrapper {
  width: 90%;
  max-width: var(--wrapper-width);
  margin: 0 auto;
  &:focus-visible {
    outline: none;
  }
}

.flex-container {
  display: flex;
  gap: var(--spacing-6) var(--spacing-9);
  justify-content: space-between;
  &--wrap {
    @extend .flex-container;
    flex-wrap: wrap;
  }
  &--reverse-wrap {
    @extend .flex-container;
    flex-wrap: wrap-reverse;
  }
}

.side-by-side-images {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pixel-20);

  > * {
    flex: 1 1 300px;
  }

  img {
    width: 100%;
    height: auto;
    flex: auto;
  }
}

section,
.intro,
.now-list {
  @include spacing-mixins.spacing(bottom, 10, margin);
}

.last-updated,
.related-links {
  margin-bottom: 0;
}