@use "spacing-mixins";

.navigation-icons {
  fill: var(--color-secondary-text);
  overflow: visible;
}

.site-header-image--placeholder:focus-visible {
  .header-image-background {
    fill: transparent;
  }
  .header-image-foreground {
    fill: var(--color-focus-text);
  }
}

.site-header-image {
  display: block;
  width: var(--pixel-50);
  height: auto;
  overflow: visible;
  .header-image-background {
    fill: light-dark(transparent, var( --color-link));
  }

  .header-image-foreground {
    fill: light-dark(var( --color-link), var(--color-background));
  }
  &:hover {
    .header-image-background {
      fill: light-dark(transparent, var( --color-hover));
    }
    .header-image-foreground {
      fill: light-dark(var( --color-hover), var(--color-background));
    }
  }
  &:active {
    .header-image-background {
      fill: light-dark(transparent, var( --color-active));
    }
    .header-image-foreground {
      fill: light-dark(var( --color-active), var(--color-background));
    }
  } 
}

.pupil-left,
.pupil-right {
  animation: blink 4s infinite;
  transform-origin: center;
}

@keyframes blink {
  0%, 95%, 100% { 
    transform: scaleY(1);
  }
  97.5% { 
    transform: scaleY(0.1);
  }
}

.figure-between-content {
  @include spacing-mixins.spacing(bottom, 6, padding);
}

.figure-prototype {
  @include spacing-mixins.spacing(top, 4, margin);
}

.image-outline {
  margin: 0;
  outline: var(--border-thin) solid var(--color-border);
}

.image-cli {
  width: 500px;
  height: auto;
}

hr {
  border-bottom: var(--border-medium) var(--color-border) solid;
  margin-top: 0;
  @include spacing-mixins.spacing(bottom, 10, margin)
}