@use "spacing-mixins";

.navigation-icons {
  fill: var(--color-secondary-text);
  overflow: visible;
}

.site-header-image--placeholder:focus-visible {
  .site-header-image {
    fill: var(--color-focus-text);
  }
}

.site-header-image {
  display: block;
  width: var(--pixel-50);
  height: auto;
  fill: var(--color-link);
  &:hover {
    fill: var(--color-hover);
  }
  &:active {
    fill: var(--color-active);
  }
}

.figure-between-content {
  @include spacing-mixins.spacing(bottom, 6, margin);
}

.figure-prototype {
  @include spacing-mixins.spacing(top, 4, margin);
}

.image-outline {
  margin: 0;
  outline: var(--border-thin) solid var(--color-border);
}

.image-cli {
  width: 500px;
  height: auto;
}