@use "spacing-mixins";

.navigation-icons {
  fill: var(--color-secondary-text);
  overflow: visible;
}

.site-header-image {
  height: var(--pixel-60);
  width: auto;
}

.side-by-side-images {
  display: flex;
  flex-wrap: wrap;
  gap: var(--pixel-20);
  img {
    flex: auto;
  }
}

.figure-between-content {
  @include spacing-mixins.bottom-6(margin);
}

.figure-prototype {
  @include spacing-mixins.top-4(margin);
}

.image-outline {
  margin: 0;
  outline: var(--border-thin) solid var(--color-border);
}