@mixin spacing($direction, $level, $type) {
  @if $type == padding {
    @if $direction == top {
      padding-top: var(--spacing-#{$level});
    } @else if $direction == bottom {
      padding-bottom: var(--spacing-#{$level});
    }
  } @else if $type == margin {
    @if $direction == top {
      margin-top: var(--spacing-#{$level});
    } @else if $direction == bottom {
      margin-bottom: var(--spacing-#{$level});
    }
  }
}
