/* If there’s no JS, there’s no need for the user toggle component to show */
.no-js .user-toggle {
  display: none;
}

.js-mode-toggle {
  background: var(--color-button);
  color: var(--color-button-text);
  cursor: pointer;
  border: 0;
  padding: var(--spacing-1) var(--spacing-3) var(--spacing-0);
  border-bottom: var(--border-thick) var(--color-button-hover) solid;
  &:focus {
    outline: var(--border-thin) solid var(--color-focus);
    background: var(--color-focus);
    color: var(--color-focus-text);
    border-bottom: var(--border-thick) var(--color-focus-border) solid;
  }
  &:hover {
    background: var(--color-button-hover);
    color: var(--color-button-text);
  }
}
