/* If there’s no JS, there’s no need for the user toggle component to show */
.no-js .user-toggle {
  display: none;
}

.user-toggle {
  align-items: center;
}

.theme-toggle {
  appearance: auto;
  background-color: var(--color-background);
  border-radius: 0;
  box-sizing: border-box;
  border: var(--border-thin) var(--color-border) solid;
  padding: var(--pixel-5);
  height: var(--pixel-40);
  max-width: 100%;
  color: var(--color-primary-text);
  &:focus {
    border: var(--border-thin) var(--color-focus-border) solid;
    outline: var(--border-thick) solid var(--color-focus);
    outline-offset: 0px;
  }
}