@use "sass:math";
@use "spacing-mixins";

body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  @extend .font-size-0;
  line-height: 1.75;
  color: var(--color-primary-text);
}

p {
  @include spacing-mixins.bottom-6(margin);
}

a {
  text-underline-offset: 0.3125em;
  text-decoration-thickness: math.max(0.0625rem);
  font-weight: var(--font-weight-semibold);
  @media (hover: hover) {
    &:hover,
    &[aria-current=page] {
      text-decoration-thickness: math.max(0.188rem);
      text-decoration-skip-ink: none;
    }
  }
}

.font-size-4,
.font-size-3,
.font-size-2,
.font-size-1 {
  line-height: 1.125;
  text-wrap: balance;
  font-size: clamp(
    var(--min-font-size),
    calc(var(--fluid-font-size)),
    var(--max-font-size)
  );
}

.font-size-3,
.font-size-2,
.font-size-1 {
  font-weight: var(--font-weight-semibold);
}

.font-size-4 {
  font-weight: var(--font-weight-bold);
  --min-font-size: 2.8992rem;
  --fluid-font-size: 1.4844rem + 7.074vw;
  --max-font-size: 6.0117rem;
}

.font-size-3 {
  --min-font-size: 2.3193rem;
  --fluid-font-size: 1.5518rem + 3.8374vw;
  --max-font-size: 4.0078rem;
}

.font-size-2 {
  --min-font-size: 1.8555rem;
  --fluid-font-size: 1.4844rem + 1.8555vw;
  --max-font-size: 2.6719rem;
}

.font-size-1 {
  --min-font-size: 1.4844rem;
  --fluid-font-size: 1.3494rem + 0.6747vw;
  --max-font-size: 1.7813rem;
}

.font-size-0,
.font-size--1,
.font-size--2 {
  font-weight: var(--font-weight-standard);
}

.font-size-0 {
  font-size: 1.1875rem;
}

.font-size--1 {
  font-size: 1rem;
}

.font-size--2 {
  font-size: 0.75rem;
}

strong {
  font-weight: var(--font-weight-extrabold);
}

footer {
  p {
    @include spacing-mixins.bottom-1(margin);
    line-height: 1.125;
  }
}

ul {
  li + li {
    @include spacing-mixins.top-1(margin)
  }
}

.list-lead-in {
  margin-bottom: var(--spacing-3);
}

.list-extra-spaced {
  @include spacing-mixins.bottom-3(margin);
}

.list-extra-spaced {
  .font-size-1 {
    @include spacing-mixins.bottom-1(margin);
  }
  & > li {
    @include spacing-mixins.bottom-5(margin);
  }
  & > li:last-child {
    @include spacing-mixins.bottom-4(margin);
  }
}

.home-link {
  @include spacing-mixins.bottom-6(margin);
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.headline-caption {
  display: block;
  margin-bottom: 0;
  font-weight: var(--font-weight-medium);
  @extend .font-size-1;
}

.lead-paragraph {
  font-weight: var(--font-weight-standard);
  @extend .font-size-2;
}

.headline-caption,
.lead-paragraph {
  color: var(--color-secondary-text);
}

a:focus-visible,
.font-size-1 > a:focus-visible {
  box-shadow: 0 var(--focus-background) var(--color-focus),0 var(--focus-underline) var(--color-focus-border);
}

a {
  color: var(--color-link);
  @media (hover: hover) {
    &:hover {
      color: var(--color-hover);
    }
  }
  &:active {
    color: var(--color-active);
  }
  &:focus-visible {
    background: var(--color-focus);
    color: var(--color-focus-text);
    text-decoration-skip-ink: none;
    --focus-background: -0.55rem;
    text-decoration: none;
    outline: var(--spacing-0) solid transparent;
  }
}

section {
  .font-size-3 {
    @include spacing-mixins.bottom-3(margin);
  }
  .font-size-2 {
    @include spacing-mixins.bottom-2(margin);
  }
  .font-size-1 {
    @include spacing-mixins.bottom-1(margin);
  }
}