body,
.font-size-3,
.font-size-2,
.font-size-1,
.font-size--1 {
  font-size: clamp(
    var(--min-font-size),
    calc(var(--fluid-font-size)),
    var(--max-font-size)
  );
}

body {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  --min-font-size: 1rem;
  --fluid-font-size: 0.91rem + 0.43vw;
  --max-font-size: 1.19rem;
  line-height: 1.75;
  background: var(--color-background);
  color: var(--color-primary-text);
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-bold);
}

.font-size-3,
.font-size-2,
.font-size-1 {
  line-height: 1.3;
}

.font-size-3 {
  --min-font-size: 2.37rem;
  --fluid-font-size: 1.92rem + 2.25vw;
  --max-font-size: 3.36rem;
}

.font-size-2 {
  --min-font-size: 1.78rem;
  --fluid-font-size: 1.51rem + 1.36vw;
  --max-font-size: 2.37rem;
}

.font-size-1 {
  --min-font-size: 1.33rem;
  --fluid-font-size: 1.18rem + 0.79vw;
  --max-font-size: 1.68rem;
}

.font-size--1 {
  --min-font-size: 0.75rem;
  --fluid-font-size: 0.71rem + 0.20vw;
  --max-font-size: 0.84rem;
}

p {
  @include bottom-4(margin);
}

a {
  text-underline-offset: 20%;
  &:hover,
  &[aria-current=page] {
    text-decoration-thickness: 20%;
  }
}

.capitalize {
  text-transform: uppercase;
}

.font-size-3,
.font-size-2,
.font-size-1 {
  @include bottom-2(margin);
}

.title-spacing,
.lead-paragraph {
  @include bottom-9(margin);
}

.medium-post {  
  img {
    @include bottom-1(margin);
  }

  blockquote,
  figure {
    @include bottom-6(margin);
  }

  blockquote {
    @extend .font-size-1;
  }
}

.meta-information > * {
  @include bottom-1(margin);
}

footer {
  p {
    @include bottom-1(margin);
    line-height: 1.125;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    @include bottom-2(margin);
  }
}

.list-extra-spaced {
  .font-size-1 {
    @include bottom-1(margin);
  }
  & > li {
    @include bottom-4(margin);
  }
}

.tags,
.list-horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  li {
    flex-basis: max-content;
    margin-bottom: 0;
  }
}

.list-horizontal {
  gap: 0 var(--spacing-3);
}

.tags {
  gap: 0 var(--spacing-2);
}

.dash::before {
  content: "- ";
}

.headline-caption,
.lead-paragraph {
  @extend .font-size-1;
}

blockquote,
figcaption,
.headline-caption,
.lead-paragraph,
.meta-information {
  color: var(--color-secondary-text);
}

a:focus,
.font-size-1 > a:focus,
blockquote > a:focus {
  box-shadow: 0 var(--focus-background) var(--color-focus),0 var(--focus-underline) var(--color-focus-border);
}

a {
  color: var(--color-link);
  &:hover {
    color: var(--color-hover);
  }
  &:active {
    color: var(--color-active);
  }
  &:focus {
    background: var(--color-focus);
    color: var(--color-focus-text);
    text-decoration-skip-ink: none;
    --focus-background: -0.5rem;
    text-decoration: none;
    outline: var(--spacing-0) solid transparent;
  }
}

.font-size-1 > a:focus,
blockquote > a:focus {
  --focus-background: -0.125rem;
}

.nav-list {
  @extend .list-horizontal;
  gap: 0 var(--spacing-7);
  font-weight: var(--font-weight-bold);
  a:not(:hover, [aria-current=page]) {
    text-decoration: none;
  }
  a[aria-current=page] {
    color: var(--color-active);
    text-underline-offset: var(--nav-underline-offset);
  }
  a:hover {
    color: var(--color-hover);
    text-underline-offset: var(--nav-underline-offset);
  }
  a:focus {
    color: var(--color-focus-text);
  }
}
