:root {
  // Pixels
  --pixel-neg5: -0.3125rem;
  --pixel-2: 0.125rem;
  --pixel-5: 0.3125rem;
  --pixel-10: 0.625rem;
  --pixel-15: 0.9375rem;
  --pixel-20: 1.25rem;
  --pixel-25: 1.5625rem;
  --pixel-30: 1.875rem;
  --pixel-40: 2.5rem;
  --pixel-50: 3.125rem;
  --pixel-60: 3.75rem;
  // Spacing variables
  --spacing-neg1: var(--pixel-neg5);
  --spacing-0: var(--pixel-2);
  --spacing-1: var(--pixel-5);
  --spacing-2: var(--pixel-10);
  --spacing-3: var(--pixel-15);
  --spacing-4: var(--pixel-20);
  --spacing-5: var(--pixel-25);
  --spacing-6: var(--pixel-30);
  --spacing-7: var(--pixel-40);
  --spacing-8: var(--pixel-50);
  --spacing-9: var(--pixel-60);
  // Border variables
  --border-thin: var(--pixel-2);
  --border-thick: var(--pixel-5);
  // Page Layout
  --wrapper-width: 64rem;
  // Typography
  --focus-underline: 0.375rem;
  --font-weight-bold: 700;
  --nav-underline-offset: 0.375rem;
  // Color palette
  --color-yellow: oklch(90% 0.2 98.1);
  --color-black: oklch(13.5% 0.007 236.5);
  --color-white: oklch(95.8% 0.007 236.5);
  --color-grey: oklch(76.8% 0.007 236.5);
  --color-dark-grey: oklch(46.5% 0.007 236.5);
  --color-blue: oklch(43.3% 0.1 249.7);
  --color-dark-blue: oklch(27.7% 0.1 249.7);
  --color-pink: oklch(85.3% 0.1 353);
  --color-dark-pink: oklch(71.1% 0.175 353);
  // Light mode color scheme
  --color-mode: 'light';
  --color-background: var(--color-white);
  --color-primary-text: var(--color-black);
  --color-secondary-text: var(--color-dark-grey);
  --color-link: var(--color-blue);
  --color-hover: var(--color-dark-blue);
  --color-active: var(--color-black);
  --color-focus: var(--color-yellow);
  --color-focus-text: var(--color-black);
  --color-focus-border: var(--color-black);
  --color-border: var(--color-black);
  --color-button: var(--color-link);
  --color-button-hover: var(--color-hover);
  --color-button-text: var(--color-white);
}

// Dark mode color scheme
@mixin dark-mode {
  --color-background: var(--color-black);
  --color-primary-text: var(--color-white);
  --color-secondary-text: var( --color-grey);
  --color-link: var(--color-pink);
  --color-hover: var(--color-dark-pink);
  --color-active: var(--color-white);
  --color-focus: var(--color-yellow);
  --color-focus-text: var(--color-black);
  --color-focus-border: var(--color-black);
  --color-border: var(--color-white);
  --color-button: var(--color-link);
  --color-button-hover: var(--color-hover);
  --color-button-text: var(--color-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }
  :root:not([data-user-color-scheme]) {
    @include dark-mode;
  }
}

[data-user-color-scheme='dark'] {
  @include dark-mode;
}
