{% from 'macros/displayDate.html' import date %}

<h2 class='font-size-2'>Articles and videos</h2>
<p>A collection of published articles and videos from speaking engagements:</p>
<ul class='list-extra-spaced'>
  {% for i in range(0, articles_videos | length) | reverse %}
    <li class='balance-textwrap'>
      <a href='{{ articles_videos[i].url }}' rel='noopener noreferrer' target='_blank'>{{ articles_videos[i].name }} (opens in a new tab)</a>
      <div class="meta-information">
        {{ date("Uploaded:", articles_videos[i].upload) }}
        {% if articles_videos[i].publication %}
          <p>
            <span>Online publication:</span>
            <span class='capitalize'>{{ articles_videos[i].publication }}</span>
          </p>
        {% elif articles_videos[i].video %}
          <p>
            <span>Online video:</span>
            <span class='capitalize'>{{ articles_videos[i].video }}</span>
          </p>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
