{% from 'macros/tags.html' import tags %}
{% from 'macros/displayDate.html' import mediumDate %}

<h2 class='font-size-2'>Self-published case studies</h2>
<p class="list-lead-in">A collection of case studies that I have independently published:</p>
<ul class='list-extra-spaced'>
  {% for post in collections.posts %}
    <li class='balance-textwrap'>
      <a href='{{ post.url }}'>{{ post.data.title }}</a>
      <div class='meta-information'>
        {{ mediumDate("Published:", post.data.pubDate) }}
        {{ tags(post.data.categories) }}
      </div>
    </li>
  {% endfor %}
</ul>
