{% from 'macros/heading+leadIn.njk' import headingAndLeadin %}
{% from 'macros/tags.njk' import tags %}
{% from 'macros/displayDate.njk' import mediumDate %}

<section>
  {{ headingAndLeadin('Case studies', 'A collection case studies') }}
  <ul class='list-extra-spaced'>
    {% for post in collections.posts %}
      {% if 'case-study' in post.data.categories %}
        <li class='balance-textwrap'>
          <a href='{{ post.url }}'>{{ post.data.title }}</a>
          <div class='meta-information'>
            {{ mediumDate("Published:", post.data.pubDate) }}
            {{ tags(post.data.categories) }}
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>

<section>
  {{ headingAndLeadin('Articles', 'A collection of blog articles') }}
  <ul class='list-extra-spaced'>
    {% for post in collections.posts %}
      {% if 'case-study' not in post.data.categories %}
        <li class='balance-textwrap'>
          <a href='{{ post.url }}'>{{ post.data.title }}</a>
          <div class='meta-information'>
            {{ mediumDate("Published:", post.data.pubDate) }}
            {{ tags(post.data.categories) }}
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>

