<a class='skip-link wrapper' href='#main-content'>Skip to content</a>
<header class='wrapper flex-container--wrap header-nav'>
  <a class='site-header-image--placeholder' href='/' aria-label='{{ site.fullName }}'>
    {% include 'icons/site-logo.svg' %}
  </a>
  {% if headerLinks.items %}
    <ul class='header-links list-horizontal'>
      {% for item in headerLinks.items %}
        <li>
          <a href='{{ item.url }}'>{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</header>
