<a class='skip-link wrapper' href='#main-content'>Skip to content</a>
<header role='banner' class='wrapper flex-container'>
  <a href='/' aria-label='{{ site.name }} - home' class='site-head-brand'>
    <img 
      srcset='
        /images/{{ image }}@4x.png 4x,
        /images/{{ image }}@3x.png 3x,
        /images/{{ image }}@2x.png 2x,
        /images/{{ image }}.png 1x,
      '
      src='/images/{{ image }}.png'
      alt='{{ imageAltText }}'
    >
  </a>
  <nav class='site-navigation' aria-label='Primary'>
    <ul class='nav-list'>
      {% for item in navigation.items %}
      <li>
        <a href='{{ item.url }}' {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
      </li>
      {% endfor %}
    </ul>        
  </nav>
</header>
