<a class='skip-link wrapper' href='#main-content'>Skip to content</a>
<header class='wrapper flex-container--wrap vertical-align-bottom header-nav'>
  <a href='/' aria-label='{{ site.fullName }}'>
    <img src='/img/header/{{ image }}.png' alt='{{ imageAltText }}' class='site-header-image'>
  </a>
</header>
