<footer role='contentinfo' class='wrapper flex-container'>
  {% include 'partials/switch.html' %}
  <ul class='horizontal-list'>
    <li>
      <a href='https://github.com/nnagewad' rel='noopener noreferrer' target='_blank'>
        <span class='visually-hidden'>Nikin Nagewadia's GitHub profile (opens in a new tab)</span>
        {% include 'icons/github.svg' %}
      </a>
    </li>
    <li>
      <a href='https://www.linkedin.com/in/nikinnagewadia/' rel='noopener noreferrer' target='_blank'>
        <span class='visually-hidden'>Nikin Nagewadia's LinkedIn profile (opens in a new tab)</span>
        {% include 'icons/linkedin.svg' %}
      </a>
    </li>
  </ul>
  <div class='visually-hidden'>
    <p><small>Website was designed and built by Nikin Nagewadia</small></p>
    <p><small>Last update made on: <time datetime='{{ helpers.builtAtISO }}'>{{ helpers.builtAtString }}</time></small></p>
  </div>
</footer>
