{% from 'macros/socialIcons.njk' import socialIcon %}

<footer class='wrapper flex-container--wrap'>
  {% include 'partials/switch.njk' %}
  <ul class='horizontal-list'>
    {% for social in site.socials %}
      <li>
        <a class='social-icon' href='{{ social.url }}' rel='noopener noreferrer' target='_blank'>
          <span class='visually-hidden'>{{ site.firstName }}'s {{ social.name }} profile (opens in a new tab)</span>
          {{ socialIcon(social.icon) }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class='visually-hidden'>
    <small>Website was designed and built by {{ site.fullName }}</small>
    <small>
      <dl>
        <dt>Last update:</dt>
        <dd>
          <time datetime='{{ helpers.builtAtISO }}'>{{ helpers.builtAtString }}</time>
        </dd>
      </dl>
    </small>
  </div>
</footer>
