<footer class='wrapper flex-container--wrap'>
  {% include 'partials/switch.njk' %}
  <div>
    <small class="font-size--2">Designed and developed by {{ site.fullName }}</small>
    <dl class="visually-hidden">
      <dt><small>>Last update:</small></dt>
      <dd>
        <time datetime='{{ helpers.builtAtISO }}'>
          <small>{{ helpers.builtAtString }}</small>
        </time>
      </dd>
    </dl>
  </div>
</footer>
