{% from 'macros/socialIcons.njk' import socialIcon %}

<footer role='contentinfo' class='wrapper flex-container--wrap'>
  {% include 'partials/switch.njk' %}
  <ul class='horizontal-list'>
    {% for social in site.socials %}
      <li>
        <a class='social-icon' href='{{ social.url }}' rel='noopener noreferrer' target='_blank'>
          <span class='visually-hidden'>{{ site.firstName }}'s {{ social.name }} profile (opens in a new tab)</span>
          {{ socialIcon(social.icon) }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class='visually-hidden'>
    <p><small>Website was designed and built by {{ site.fullName }}</small></p>
    <p><small>Last update: <time datetime='{{ helpers.builtAtISO }}'>{{ helpers.builtAtString }}</time></small></p>
  </div>
</footer>
