{% from 'macros/displayDate.njk' import date %}

{% if (videos | length ) > 1 %}
  <h2 class='font-size-2'>Videos</h2>
{% else %}
  <h2 class='font-size-2'>Video</h2>
{% endif %}
<ul class='list-extra-spaced'>
  {% for i in range(0, videos | length) | reverse %}
    <li class='balance-textwrap'>
      <a href='{{ videos[i].url }}' rel='noopener noreferrer' target='_blank'>{{ videos[i].name }} (opens in a new tab)</a>
      <dl class="meta-information">
        {{ date("Uploaded:", videos[i].upload) }}
        <div class="list-horizontal horizontal-gap--2">
          <dt>Online video:</dt>
          <dd class='capitalize'>{{ videos[i].video }}</dd>
        </div>
      </dl>
    </li>
  {% endfor %}
</ul>
